<div class="page-header"> 
    <h1 class="center-text"><i class="fa fa-{{icon}}"></i> {{{title}}}
        {{#if popoverHost}}
            <span data-popover-host="{{popoverHost}}"></span>
        {{/if}}
    </h1>
</div>
