
body {
    font-family: Avenir Next, Verdana;
    font-size: 11pt;
    line-height: 1;
}

ul {
    list-style: none;
}

.light-color, 
span.light-color a {
    color: #999;
}

.centered {
    text-align: center;
}

.navbar { /* override bootstrap */
    margin-bottom: 0;
}

.nav-form-element {
    padding-top: 12px;
}

.search-options[input],
.search-options[button] {
    font-size: 10px;
}

.query-options {
    padding-left: 20%;
    margin: 0;
    width: 100%;
    background-color: #222;
    color: #9d9d9d;
}

.query-options label {
    font-weight: normal;
}

.query-options label:hover {
    color:white;
}

.query-options li,
.search-options li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 22px;
}

.query-options li > div {
    display: inline;
}

.dig-glyph-button {
    background: transparent;
    border: 0;
    color: #DDD;
}

.navbar input[type=text],
.navbar select {
    border-radius: 4px;
}

.g1 {
    padding: 0px;
    width: 53px;
}

.g2 {
    padding: 0px;
}

.sprite3 {
  background-image: url('../dig-images/glyphs3.png');
  background-repeat: no-repeat;
  width: 51px;
  height: 48px;
}


.play-sprite {
    background-position: -99px 0px;
    display: block;
    float: left;
}
.download-sprite {
    background-position: 0px 0px;
    display: block;
    float: left;
}

.tag-container {
    background-image: url('../dig-images/tag.png');
    background-size: cover;
    margin: 4px;
    padding: 5px;
    padding-left: 20px;
    
    float: left;
    position: relative;
    display: block;    
}
.tag-button {
    background-color: transparent;
    border: 0;
}

.upload-action-buttons {
    margin-top: 50px;
}

.upload-action-buttons li {
    height: 90px;
    width: 90px;
    text-align: center;
    vertical-align: middle;
    background-color: #CCC;
}

.remix-list li {
    margin-top: 4px;
}

.add-button-container {
    float: right;
}

#sharePopup .modal-body > div {
    margin-bottom: 20px;
}