<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="centered">{{licenseInfo.title}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            {{partial 'licenses-partial'}}
        </div>
    </div>
</div>
