<ul class="upload-action-buttons list-unstyled"> 
    <li>
        <a href="#" {{action "play" item}}>
        <span class="sprite4 play-sprite-big"> </span>
        </a>
    </li>
    <li>                
        <a href="#" {{action "doDownloadPopup" item}}>
        <span class="sprite4 download-sprite-big"> </span>
        </a>
    </li>
    <li>
        <a href="#" {{action "dosharePopup" item}}>
        <span class="sprite4 share-sprite-big"> </span>
        </a>
    </li>
    <li>
        <a href="{{model.file_page_url}}">
        <span class="sprite4 ccm-sprite-big"> </span>
        </a>
    </li>
</ul>
