<ul class="upload-action-buttons list-unstyled"> 
    <li>
        <a href="#" {{action "togglePlay" model}}>
        <span class="sprite4 play-sprite-big {{if model.media.isPlaying 'is-playing'}}"> </span>
        </a>
    </li>
    <li>                
        <a href="#" {{action "doDownloadPopup"}}>
        <span class="sprite4 download-sprite-big"> </span>
        </a>
    </li>
    <li>
        <a href="#" {{action "dosharePopup"}}>
        <span class="sprite4 share-sprite-big"> </span>
        </a>
    </li>
</ul>
